$yellow: #e0e000;
$grey: #bfbfbf;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem .5rem 1.25rem;
  border-radius: .25rem;

  .stars {
    display: flex;
    font-size: 1.125em;
    transition-duration: 1s;

    .empty {
      color: $grey;
    }
  
    .full {
      color: $yellow;
    }
  }

  &.notRated:hover {
    background-color: rgba(0, 0, 0, .03);

    .stars:hover {
    
      .star {
        color: $yellow;
      }
  
      .star:hover {
        color: $yellow;
        cursor: pointer;
      }
  
      .star:hover ~ .star {
        color: $grey;
      }
    }
  }

  .label {
    position: absolute;
    bottom: .125rem;
    font-size: .75rem;
  }
}