.button {
  flex-shrink: 0;
  padding: 7px 8px;
  min-width: 64px;
  font-size: 0.8125rem;
  min-height: 32px;
  color: #2196f3;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &:hover {
    background-color: rgba(33, 150, 243, 0.12);
  }
}