$btn-size: 1.5rem;
$btn-font-size: 1.125rem;
$hmargin: .25rem;
$increase-clr: green;
$decrease-clr: red;

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .button {
    height: $btn-size;
    min-width: $btn-size;
    font-size: $btn-font-size;
    margin: $hmargin;
    transition-duration: 3s;
  }

  .counter {
    min-width: 1.75rem;
    text-align: center;
  }

  .increase svg {
    vertical-align: 0;
  }

  .decrease svg {
    vertical-align: -.25em;
  }

  .increase:hover svg path {
    fill: $increase-clr;
  }

  .decrease:hover svg path {
    fill: $decrease-clr;
  } 

  .button svg path {
    transition-duration: .3s;
  }


}