$base-padding: 1rem;

.container {
  padding: $base-padding;
  display: flex;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.soldOut {
  color:red;
  font-size: .8125rem;
  text-transform: uppercase;
  padding: 7px 8px;
}

.showsList {
  display: flex;
  font-size: .85rem;
}

.showButton {
  padding: .75rem .75rem;
  margin: 0 .25rem;
  background-color: rgb(204, 203, 203);
  border-radius: .5rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(102, 163, 255);
  }
}

.active {
  background-color: rgb(161, 197, 252);
}

