$base-padding: 1rem;

.container {
  margin: 20px;
  width: 900px;
  min-height: 200px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.movieDetails {
  display: flex;
  flex-direction: row;
}

.cover,
.content,
.actions {
  box-sizing: border-box;
}

.cover {
  flex: 0 0 25%;
  align-self: center;
  padding: $base-padding;
}

.coverImg {
  width: 100%;
  object-fit: contain;
}

.content {
  flex: 0 99 auto;
  // flex-basis: 60%;
  padding: $base-padding 0;

  .title {
    font-size: 2rem;
    margin: 0;
  }

  .premiere {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    margin: 0 0 .5rem;
  }
  
  .synopsis {
    font-size: .75rem;
  }
}

.actions {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $base-padding;
}