.nav {
  list-style-type: none;
  padding-left: 0;
}

.navItem {
  display: inline-block;
  
  &:not(:last-child) {
    margin-right: .5rem;
  }

  a,
  a:active,
  a:visited
   {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    background-color: #fff;
    color: #000;

    text-decoration: none;
    transition-duration: .3s;

    &:hover {
      background-color: #2094f3;
      color: #fff;
    }

  }

  .active::after {
    position: absolute;
    bottom: 0;
    left:0;
    content: "";
    height: .2rem;
    width: 100%;
    background-color: #2094f3;
  }
}