.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
  border-radius: 4px;
  color: rgba(0,0,0,.65);
  line-height: 1.5;
  margin: 1em;
}

.message {
  display: block;
  font-size: 1em;
  color: rgba(0,0,0,.85);
  text-align: center;
  
}

.icon {
  flex-shrink: 0;
  height: 1.125em;
  width: 1.125em;
  margin-right: .375em;
}

.success {
  border: 1px solid #b7eb8f;
  background-color: #f6ffed;
}

.error {
  border: 1px solid #ffa39e;
  background-color: #fff1f0;
}

.warning {
  border: 1px solid #ffe58f;
  background-color: #fffbe6;
}

.info {
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
}