:global {
  body {
    background-color: #eeeeee;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  // Button reset
  button {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;
  }

}

.container {
  max-width: 1250px;
  flex-wrap: wrap;
  margin: 10% auto;
}

